<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/userBoard.css}">
    <link rel="icon" th:href="@{/images/disc.png}">
</head>
<body>
<div th:replace="fragments/top::header"></div><br><br><br>
<div class="wrapper">
    <h2 style="display:inline-block">나의 리뷰</h2>
    <span> (총 </span><span th:text="${allCount}" style="color:red"></span><span>개)</span>
    <span class="warn">최근 200개까지만 보여집니다.</span>
    <br><br>
    <table>
        <tr th:each="board : ${boardList}">
            <th:block th:if="${name} == ${board.writer}">
                <td class="image">
                    <img src="https://image.genie.co.kr/imageg/web/common/blank.gif/dims/resize/Q_80,0" alt="error" style="width:50px;height:50px;">
                </td>
                <td class="scomment">
                    <span class="writer" th:text="${board.writer}"></span>&nbsp;
                    <span class="createDate" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>&nbsp;&nbsp;&nbsp;
                    <th:block th:if="${board.writer} == ${name}">
                        <a class="update_btn" th:href="@{/post/{id}/update (id=${board.id})}" style="display:inline-block">수정</a>
                        <form th:action="@{/post/{id}/delete (id=${board.id})}" method="post" style="display:inline-block">
                            <input class="delete_btn" type="submit" name="delete" value="삭제">
                        </form>
                    </th:block>
                    <br>
                    <a class="lining" th:if="${#strings.equals(board.type, 'album')}" th:href="@{/detail/albuminfo?album_id={traceId} (traceId=${board.traceId})}" th:text="${board.comment}"></a>
                    <a class="lining" th:if="${#strings.equals(board.type, 'song')}" th:href="@{/detail/songinfo?song_id={traceId} (traceId=${board.traceId})}" th:text="${board.comment}"></a>
                </td>
            </th:block>
            <td class="title_img">
                <img th:src="@{${board.img}}" style="width:50px; height:50px;">
            </td>
            <td>
                <span class="title_text" th:text="${board.title}"></span><br>
                <span class="artist_text" th:text="${board.artist}"></span>
            </td>
        </tr>
    </table><br><br>
    <div id="btn_div">
        <div id="btn_group">
            <span th:each="pageNum : ${pageList}">
                <a th:class="onbtn" th:classappend="${pageNum} == ${curPage} ? offbtn" th:href="@{'/user/' + ${name} +'/myboard?&page=' + ${pageNum}}" th:text="${pageNum}"></a>
            </span>
        </div>
    </div>
</div>
</body>
</html>