<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/chart.css}">
    <link rel="icon" th:href="@{/images/disc.png}">
    <style>
        #btn3 {
                border-radius: 5px;
                border:2px solid #1E90FF;
                color: #1E90FF;
                display:inline;
            }

        #btn1, #btn2, #btn4, #btn5 {
            border-radius: 5px;
            border:2px solid #A9A9A9;
            color: black;
            display:inline;
        }

    </style>

    <script th:inline="javascript">
        /* <![CDATA[ */
        var videoIds = /*[[${videoIds}]]*/
        var songs = /*[[${songs}]]*/
        var index = /*[[${index}]]*/
        /* ]]> */
    </script>
    <script type="text/javascript" th:src="@{/js/chart.js}"></script>
</head>
<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        swal("Error", errorMessage, "error");
    } else if (successMessage != null) {
        swal("Success", successMessage, "success");
    }
</script>
<div th:replace="fragments/top::header"></div><br><br>
<div class="wrapper">
    <form action="/search" method="get">
        <input type="text" name="keyword" value="" placeholder="Search...">
        <button id="btn_search" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div><br><br><br><br>
<div id="contents">
    <h2 style="text-align:center;">최신곡 Top 150곡</h2><br>
    <p id="date" style="text-align:right; margin-right:30px; color:gray;"></p><br><br>
    <table>
        <tr class="util">
            <td class="util"><input type="checkbox" id="allClick"></td>
            <td class="util">
                <form action="/playlist" method="post" id="form1">
                    <button type="submit" id="add_btn" style="cursor:pointer;"><i class="fas fa-folder-plus" style="font-size:30px;"></i> 담기</button>
                </form>
            </td>
        </tr>
    </table>
    <table id="table">
        <tr id="tr" th:each="song : ${songs}">
            <td class="td chkbox"><input type="checkbox" style="padding:0px 0px 0px 5px;" name="add" th:value="${song.title} + ';' + ${song.artist}" form="form1"></td>
            <td class="td rank" th:text="${song.index}"></td>
            <td class="td image">
                <img th:src="@{${song.img}}" alt="error" style="width:50px;height:50px;">
            </td>
            <td class="td info">
                <span class="shorting" th:text="|TITLE: ${song.title}|"></span><br>
                <span class="shorting" th:text="|ARTIST: ${song.artist}|"></span>
            </td>
            <td class="icony">
                <form th:action="@{/chart/new/{pg} (pg=${pgNum})} " method="post">
                    <input type="submit" class="play_btn" name="play" th:value="${song.title} + ';' + ${song.artist} + ';' + ${songStat.index}">
                </form>
            </td>
            <td class="icony">
                <form action="/playlist" method="post">
                    <input type="submit" class="plus_btn" name="add" th:value="${song.title} + ';' + ${song.artist}">
                </form>
            </td>
            <td class="icony">
                <form action="/detail/songinfo" method="get">
                    <input type="submit" class="desc_btn" name="song_id" th:value="${song.song_id}">
                </form>
            </td>
        </tr>
    </table>
</div><br><br><br>
<div id="btn_div">
    <div id="btn_group">
        <a href="/chart/new/1" id="btn1">1 ~ 30위</a>
        <a href="/chart/new/2" id="btn2">31 ~ 60위</a>
        <a href="/chart/new/3" id="btn3">61 ~ 90위</a>
        <a href="/chart/new/4" id="btn4">91 ~ 120위</a>
        <a href="/chart/new/4" id="btn5">121 ~ 150위</a>
    </div>
</div><br><br><br><br><br><br><br><br><br><br>
<div th:replace="fragments/footer::footer"></div>
<br><br><br><br><br><br><br>
<div id="fixed">
    <div id="playerIframe"></div>
    <div class="track_info">
        <span><img src="/images/white.png" id="thumb"></span>
    </div>
    <div class="controller">
        <span><p id="playing_info" style="text-align:center; font-size:13px; font-weight:bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">재생중인 노래가 없습니다</p></span>
        <div>
            <span id="current-time">0:00</span>
            <span id="duration" style="float:right;">0:00</span><br>
        </div>
        <input type="range" id="progress-bar" value="0" style="width:100%;"/>
        <div class="icon">
            <i id="replay" class="material-icons" style="font-size:45px; float:left;">replay</i>
            <i id="play_toggle" class="material-icons" style="font-size:45px; ">pause_circle_filled</i>
        </div>
    </div>
</div>
</body>
</html>