<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3 border-top">
            <p>Developer: Park Joon Soon</p>
            <p>Email: qkrwnstns52@naver.com</p><br><br><br>
            <p class="text-primary" style="font-size:25px;"><i class="material-icons" style="color:black">copyright</i><i> Core Streaming Music Service. All Right Reserved</i></p>
        </div>
    </footer>
</div>
</html>