<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <header>
        <h1>Streaming music for Free</h1>
        <div class="vertical-menu">
<!--            <a href="/playlist" sec:authorize="isAnonymous()">플레이리스트</a>-->
            <a href="/playlist" sec:authorize="isAuthenticated()" onClick="window.open(this.href, '','width=900,height=700'); return false;">플레이리스트</a>
        </div>
    </header>
    <nav class="navbar navbar-dark sticky-top bg-dark ">
        <div class="container">
            <a class="text-light" href="/"><h4>StreamgingMusic Free</h4></a>
<!--            <h6 class="text-light" sec:authorize="isAuthenticated()" th:if="${name}" th:text="|${name}님 안녕하세요!|"></h6>-->
            <ul class="nav justify-content-end">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link text-light" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="@{/register}"><i class="fas fa-user-plus"></i> Sign up</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link text-light" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                <li class="nav-item" ><a class="nav-link text-light" href="/"><i class="fas fa-home"></i> HOME</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="nav-link text-light" th:href="@{/admin}"><i class="fas fa-user-shield"></i> 관리자</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_USER')">
                    <a class="nav-link text-light" th:href="@{/user/{username} (username=${name})}" th:if="${name}">
                        <th:block th:if="${social == 'JSMUSIC'}">
                            <img src="/images/disc.png" style="height: 25px; width: 25px;">
                        </th:block>
                        <th:block th:if="${social == 'google'}">
                            <img src="/images/google.PNG" style="height: 20px; width: 20px;">
                        </th:block>
                        <th:block th:if="${social == 'facebook'}">
                            <img src="/images/facebook.png" style="height: 25px; width: 25px;">
                        </th:block>
                        <th:block th:if="${social == 'naver'}">
                            <img src="/images/naver.png" style="height: 30px; width: 30px;">
                        </th:block>
                        <th:block th:if="${social == 'kakao'}">
                            <img src="/images/kakao.png" style="height: 25px; width: 25px;">
                        </th:block>
                         [[${name}]]님
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>
</html>