<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <header>
        <a href="/" style="text-decoration: none; color: inherit; cursor: pointer;">
            <h1>Streaming music for Free</h1>
        </a>
    </header>
    <nav class="navbar navbar-dark sticky-top bg-dark ">
        <div class="container">
            <ul class="nav">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-light" href="/playlist" onClick="
                        var width = 780;
                        var height = 500;
                        var left = (screen.width - width) / 2;
                        var top = (screen.height - height) / 2;
                        window.open(this.href, 'playlist', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top + ',scrollbars=yes,resizable=yes');
                        return false;">
                        <i class="fas fa-list"></i> 플레이리스트
                    </a>
                </li>
            </ul>
<!--            <h6 class="text-light" sec:authorize="isAuthenticated()" th:if="${name}" th:text="|${name}님 안녕하세요!|"></h6>-->
            <ul class="nav justify-content-end ml-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link text-light" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="@{/register}"><i class="fas fa-user-plus"></i> Sign up</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link text-light" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                <li class="nav-item" ><a class="nav-link text-light" href="/"><i class="fas fa-home"></i> HOME</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="nav-link text-light" th:href="@{/admin}"><i class="fas fa-user-shield"></i> 관리자</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_USER')">
                    <a class="nav-link text-light" th:href="@{/user/{username} (username=${name})}" th:if="${name}">
                        <th:block th:if="${social == 'JSMUSIC'}">
                            <img src="/images/disc.png" style="height: 25px; width: 25px;">
                        </th:block>
                        <th:block th:if="${social == 'google'}">
                            <img src="/images/google.PNG" style="height: 20px; width: 20px;">
                        </th:block>
                        <th:block th:if="${social == 'facebook'}">
                            <img src="/images/facebook.png" style="height: 25px; width: 25px;">
                        </th:block>
                        <th:block th:if="${social == 'naver'}">
                            <img src="/images/naver.png" style="height: 30px; width: 30px;">
                        </th:block>
                        <th:block th:if="${social == 'kakao'}">
                            <img src="/images/kakao.png" style="height: 25px; width: 25px;">
                        </th:block>
                         [[${name}]]님
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>
</html>