.left {
    width: 400px;
    height: 350px;
    float:left;
    margin-right: 30px;
}

.right {
    width: 800px;
    height: 350px;
    float: left;
}

.line {
    line-height:2.0;
}

.category {
    display: inline-block;
    width: 120px;
    font-size: 18px;
    color: gray;
}

#upside {
    border-top: 3px solid gray;
    border-collapse:collapse;
    padding: 10px;
    width:100%;
}

#downside {
     border-top: 3px solid gray;
     border-collapse:collapse;
     padding: 10px;
}


tr,td {
    border-bottom: 1px solid #B0C4DE;
    padding: 20px;
}


.image{
    width:70px;
}

.scomment {
    width: 1200px;
}

.num {
     padding-right: 20px;
     font: italic bold 15px arial, sans-serif;
     color: #444;
     font-size: 25px;
}


.shorting{
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.writer {
    font-size:20px;
    font-weight:bold;
    line-height:1.8
}

.createDate {
    color:gray;
    font-size:15px;
}

.lining {
    width:1200px;
    word-break:break-all;
}



input.add_btn {
    background: url("../images/plus.png") no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}


.wrapper {
    width: 1250px;
    margin: 0 auto;
    padding-bottom: 10px;
}


#contents {
    border: 5pt none #3f51b5;
    width: 1250px;
    height: 950px;
    margin:0 auto;
}


#btn_div {text-align:center;}

#btn_group a{
    padding: 5px;
    background-color: rgba(0,0,0,0);
    font-size: 17px;
    cursor: pointer;
}


.onbtn {
    border-radius: 5px;
    border:2px solid #A9A9A9;
    color: black;
    display:inline;
 }

 .offbtn {
    border-radius: 5px;
    border:2px solid #1E90FF;
    color: #1E90FF;
    display:inline;
}
.comment_div_box {
    width: 100%;
    height: 100px;
    border: 2px solid #e3e3e3;
    background-color: #fdfdfd;
    text-align:center;
    padding:10px;
}

.comment_box {
    float:left;
    width: 90%;
    height: 80px;
}

.comment_btn {
    width:100px;
    height:80px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.delete_btn {
    border: 1px solid #e3e3e3;
    color: #999;
    background-color: #fff;
    padding: 3px;
    font_size: 15px;
}

.update_btn {
    border: 1px solid #e3e3e3;
    color: #999;
    background-color: #fff;
    padding: 3px;
    font_size: 15px;
}

.delete_btn:hover { border: 2px solid gray;}
.update_btn:hover {
    border: 2px solid gray;
    color: #999;
    text-decoration: none;
}


.heartBtn {
    border: none;
    background-color: white;
    padding-left:5px;
}

.heart {
    color:gray;
    cursor:pointer;
}

.heart:hover { color: red;}