.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.role {
    color: grey;
    font-size: 18px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #6bced4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover { opacity: 0.7;}

div.main {
    width: 100%;
    height:2000px;
}

div.info {
    width: 40%;
    float: left;
    box-sizing: border-box;
}

div.record {
    width: 60%;
    float: right;
    box-sizing: border-box;
    margin: 0 auto;
}

#table {
    border-top: 3px solid gray;
    border-collapse: collapse;
    padding: 15px;
    width:80%;
}

.tr, .td, .th {
    border-bottom: 1px solid #B0C4DE;
    padding: 15px;
}

.util {padding: 15px;}


.chkbox {padding-right:10px;}


.rank {
    padding-right: 20px;
    font: italic bold 15px arial, sans-serif;
    color: #444;
    font-size: 25px;
}


.image {padding-right:15px;}


.info {font-family: 'Roboto Condensed', sans-serif; padding-right:10px;}


#add_btn {
    border-radius: 5px;
    border: 2px solid #A9A9A9;
    color: black;
    padding: 5px;
    background-color: rgba(0,0,0,0);
    font-size: 17px;
}


input.plus_btn{
    background: url("../images/plus.png") no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}


input.desc_btn {
    background: url("../images/desc.png") no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}


.icony {padding:10px;}


.shorting{
    width: 350px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.count {
    color:gray;
    font-size:15px;
}


input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}