<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<script th:inline="javascript">


    /* <![CDATA[ */
    var videoIds = /*[[${videoIds}]]*/
    var top10 = /*[[${top10}]]*/
    var index = /*[[${index}]]*/
    /* ]]> */


    var errorCnt = 0;

    var current = new Date();
    var future = new Date();
    future.setTime(future.getTime() + 3600000);
    future.setMinutes(0);
    future.setSeconds(0);

    var timeout = (future.getTime() - current.getTime());
    setTimeout(function() { window.location.reload(true); }, timeout);


    let today = new Date();

    let year = today.getFullYear();
    let month = today.getMonth() + 1;
    month = String(month);

    let day = today.getDate();
    day = String(day);

    let hours = today.getHours();
    hours = String(hours);

    if (month.length == 1) {
        month = '0' + month;
    }

    if (day.length == 1) {
        day = '0' + day;
    }

    if (hours.length == 1) {
        hours = '0' + hours;
    }


    window.onload = function() {
         document.getElementById("date").innerHTML = year + '.' + month + '.' + day + " " + hours + ':00'
    }


    if (videoIds != null) {
        videoid = videoIds[0]
        videoid2 = videoIds[1]
        videoid3 = videoIds[2]
    } else {
        videoid = null
        videoid2 = null
        videoid3 = null
    }

    if (index != null) {
        index = Number(index);
    } else {
        index = null;
    }


    $(document).ready(function() {

        url1 = "http://localhost:8080/ajax/firstmenu";
        url2 = "http://localhost:8080/ajax/secondmenu";
        url3 = "http://localhost:8080/ajax/thirdmenu";
        url4 = "http://localhost:8080/ajax/fourthmenu";
        url5 = "http://localhost:8080/ajax/fifthmenu";

        $('#val').on('click', function(){
            $.ajax({url: url1, async: false, success:function(result){
                $("#content").hide().html(result).fadeIn('slow');
            }});
        });

        $('#val2').on('click', function(){
            $.ajax({url: url2, async: false, success:function(result){
                $("#content").hide().html(result).fadeIn('slow');
            }});
        });

        $('#val3').on('click', function(){
            $.ajax({url: url3, async: false, success:function(result){
                $("#content").hide().html(result).fadeIn('slow');
            }});
        });

        $('#val4').on('click', function(){
            $.ajax({url: url4, async: false, success:function(result){
                $("#content").hide().html(result).fadeIn('slow');
            }});
        });

        $('#val5').on('click', function(){
            $.ajax({url: url5, async: false, success:function(result){
                $("#content").hide().html(result).fadeIn('slow');
            }});
        });

        $('#progress-bar').on('mouseup touched', function (e) {
            var newTime = player.getDuration() * (e.target.value / 100);
            player.seekTo(newTime);
        });

        $('#mute-toggle').on('click',function() {
            var mute_toggle = $(this);

            if(player.isMuted()){
                player.unMute();
                mute_toggle.text('volume_up');
            }
            else {
                player.mute();
                mute_toggle.text('volume_off')
            }
        });

        $('#replay').on('click', function() {
            player.seekTo(0);
        });

    });


    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player, time_update_interval = 0;

    function onYouTubeIframeAPIReady () {
        player = new YT.Player('playerIframe', {
            height: '0',
            width: '0',
            videoId: '',
            playerVars: {
                rel: 0
            },
            events: {
                'onReady': initialize,
                'onStateChange': onStateChange,
                'onError': onPlayerError
            }
        });

        var youTubePlayerVolumeItemId = 'YouTube-player-volume';
    }


    function initialize(event) {
        var p = event.target;
        player.loadVideoById(videoid, 0, "large");
        document.getElementById("playing_info").innerHTML = top10[index].title +" <i>by</i>&nbsp;&nbsp;" + top10[index].artist;
        document.getElementById("thumb").src = top10[index].img

        updateTimerDisplay();
        updateProgressBar();

        clearInterval(time_update_interval);

        time_update_interval = setInterval(function () {
            updateTimerDisplay();
            updateProgressBar();
        }, 1000);
    }

    function onStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING){
            errorCnt = 0;
        }
        play_stop(event.data, event.target);

        var volume = Math.round(event.target.getVolume());
        var volumeItem = document.getElementById(youTubePlayerVolumeItemId);

        if (volumeItem && (Math.round(volumeItem.value) != volume)) {
            volumeItem.value = volume;
        }
    }

    function play_stop(state,pl){
        $(document).ready(function(){
            $('#play_toggle').on('click',function() {
                var play_toggle = $(this);

                if(state == YT.PlayerState.PLAYING){
                    pl.pauseVideo();
                    play_toggle.text('play_circle_filled');
                } else {
                    pl.playVideo();
                    play_toggle.text('pause_circle_filled')
                }
            });
        });
    }


    function onPlayerError(event){
        errorCnt = errorCnt + 1;
        var errorCheck = Number(event.data);

        if (errorCheck == 150 || errorCheck == 100){
            if (errorCnt == 1) {
                player.loadVideoById(videoid2, 0, "large");
            } else if (errorCnt == 2){
                player.loadVideoById(videoid3, 0, "large");
            }
        }

    }

    function youTubePlayerActive() {
        return player && player.hasOwnProperty('getPlayerState');
    }

    function updateTimerDisplay() {
        $('#current-time').text(formatTime(player.getCurrentTime()));
        $('#duration').text(formatTime(player.getDuration()));
    }

    function updateProgressBar() {
        $('#progress-bar').val((player.getCurrentTime() / player.getDuration()) * 100);
    }


    function youTubePlayerVolumeChange(volume) {
        if (youTubePlayerActive()) {
            player.setVolume(volume);
        }
    }


    function formatTime(time) {
        time = Math.round(time);

        var minutes = Math.floor(time / 60),
            seconds = time - minutes * 60;

        seconds = seconds < 10 ? '0' + seconds : seconds;
        return minutes + ":" + seconds;
    }
</script>
<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        swal("Error", errorMessage, "error");
    } else if (successMessage != null) {
        swal("Success", successMessage, "success");
    }
</script>
<div th:replace="fragments/top::header"></div><br><br>
<div class="wrapper">
    <form action="/search" method="get">
        <input type="text" class="search1"name="keyword" id="search" placeholder="Search...">
        <button type="submit" class="btn_search">
            <i class="fa fa-search"></i>
        </button>
    </form><br><br><br><br>
    <span style="font-weight:bold; font-size:25px">최신음악</span>
    <div id="btn_div">
        <i id="val" class="material-icons">filter_1</i>
        <i id="val2" class="material-icons">filter_2</i>
        <i id="val3" class="material-icons">filter_3</i>
        <i id="val4" class="material-icons">filter_4</i>
        <i id="val5" class="material-icons">filter_5</i>
    </div>
</div>
<div id="content">
    <div class="float-frame">
        <div class="float-unit" th:each="num : ${#numbers.sequence(0,5)}">
            <form action="/detail/albuminfo" method="get">
                <input type="submit" name="album_id" th:value="${albums[num].album_id}" th:style="'background:url(' + @{${albums[num].img}} + '); background-size: 190px 180px; no-repeat;'">
            </form>
            <div class="upper" th:text="${albums[num].artist}"></div>
            <div class="middle">
                <p class="text1" th:text="${albums[num].artist}"></p>
                <p class="text2" th:text="${albums[num].title}"></p>
            </div>
        </div>
    </div>
    <div class="float-frame">
        <div class="float-unit" th:each="num : ${#numbers.sequence(6,11)}">
            <form action="/detail/albuminfo" method="get">
                <input type="submit" name="album_id" th:value="${albums[num].album_id}" th:style="'background:url(' + @{${albums[num].img}} + '); background-size: 190px 180px; no-repeat;'">
            </form>
            <div class="upper" th:text="${albums[num].artist}"></div>
            <div class="middle">
                <p class="text1" th:text="${albums[num].artist}"></p>
                <p class="text2" th:text="${albums[num].title}"></p>
            </div>
        </div>
    </div><br>
    <div class="wrapper">
        <a href="/chart/new/1" style="float:right; font-size:20px">최신노래 차트-></a>
    </div>
</div>
<div class = "wrapper">
    <span style="font-weight:bold; font-size:25px; padding-bottom:20px;" >실시간 차트</span><br><br>
    <div id="time_div"><p id="date" style="color:gray;"></p></div>
    <table>
        <tr class="list1" th:each="song: ${top10}">
            <td class="rank" th:text="${songStat.count}"></td>
            <td class="img"><img th:src="@{${song.img}}" class="pic"></td>
            <td class="title" th:text="${song.title}"></td>
            <td class="artist" th:text="${song.artist}"></td>
            <td class="play">
                <form action="/" method="post">
                    <input type="submit" class="play-button" name="play" th:value="${song.title} + ';' + ${song.artist} + ';' +${songStat.index}">
                </form>
            </td>
            <td class="add">
                <form action="/playlist" method="post">
                    <input type="submit" class="add-button" name="add" th:value="${song.title} + ';' + ${song.artist}">
                </form>
            </td>
            <td>
                <form action="/detail/songinfo" method="get">
                    <input type="submit" class="desc_btn" name="song_id" th:value="${song.song_id}">
                </form>
            </td>
        </tr>
    </table><br>
    <a href="/chart/top200/1" style="float:right; font-size:20px">TOP 200차트-></a>
</div><br><br><br><br><br><br><br><br><hr><br><br>
<div class="wrapper" style="text-align:center">
    <h2 style="color:red">Youtube에 등록된 노래를 플레이리스트로~~~</h2><br>
    <form class="example" action="/youtube" method="post" style="margin:auto; max-width:600px">
            <input type="text" class="textbox" name="add" placeholder="Youtube VideoID를 입력해주세요...">
            <button type="submit" class="searchbtn"><i class="fa fa-search"></i></button>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div th:replace="fragments/footer::footer"></div>
<br><br><br><br><br><br><br>
<div id="fixed">
    <div id="playerIframe"></div>
    <div class="track_info">
        <span><img src="../images/white.png" id="thumb"></span>
    </div>
    <div class="controller">
        <span><p id="playing_info" style="text-align:center; font-size:13px; font-weight:bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">재생중인 노래가 없습니다</p></span>
        <span id="current-time">0:00</span>&nbsp;/&nbsp;<span id="duration">0:00</span><br>
        <input type="range" id="progress-bar" value="0" style="width:100%;"/>
        <div class="icon">
            <i id="replay" class="material-icons" style="font-size:45px; float:left;">replay</i>
            <i id="play_toggle" class="material-icons" style="font-size:45px; ">pause_circle_filled</i>
        </div>
    </div>
</div>

</body>
</html>