<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::userHead"></head>

<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        swal("Error", errorMessage, "error");
    } else if (successMessage != null) {
        swal("Success", successMessage, "success");
    }
</script>
<div th:replace="fragments/top::header"></div><br><br><br><br><br>
<div class="container text-center">
    <div class="login-form d-flex justify-content-center">
        <div class="col-sm-5" style="margin-top: 30px;">
            <div class="panel">
                <p>아이디와 비밀번호를 입력해주세요</p>
            </div>
            <div th:if="${param.error}" class="form-group">    <!-- param.error는 스프링 시큐리티가 제공하는 변수같음.. 서버단에서 "error"라고 안넘겨도 인식하누-->
                <span th:text="${exception}" class="alert alert-danger">잘못된 아이디나 암호입니다</span>
            </div>
            <form th:action="@{/login_proc}" class="form-signin" method="post">
<!--                <input type="hidden" th:value="secret" name="secret_key" />   &lt;!&ndash; id, pw 외에 추가정보값을 hidden속성으로 값이 넘어가게함&ndash;&gt;-->
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="아이디" required="required" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="비밀번호" required="required">
                </div>
                <!--                <button type="button" onclick="formLogin()" id="formbtn" class="btn btn-lg btn-primary btn-block">Ajax 로그인</button>-->
                <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button><br>
                <label style="float: left">
                    <input th:type="checkbox" name="remember-me" id="remember-me" th:checked="true">자동 로그인
                </label>
                <label style="float:right;">
                    <a th:href="@{/forget/id}">아이디 찾기 </a> /
                    <a th:href="@{/forget/pw}">비밀번호 찾기</a>
                </label>
            </form><br><br>
            <h4>SNS계정으로도 이용 가능합니다</h4><hr>
            <ul>
                <li>
                    <a href="javascript:;" class="btn_social" data-social="google">구글 로그인</a><br/>
                </li>
                <li>
                    <a href="javascript:;" class="btn_social" data-social="facebook">페이스북 로그인</a><br/>
                </li>
                <li>
                    <a href="javascript:;" class="btn_social" data-social="naver">네이버 로그인</a><br/>
                </li>
                <li>
                    <a href="javascript:;" class="btn_social" data-social="kakao">카카오 로그인</a><br/>
                </li>
            </ul>
            <script>
                let socials = document.getElementsByClassName("btn_social");
                for (let social of socials) {
                    social.addEventListener('click', function () {
                        let socialType = this.getAttribute('data-social');
                        location.href="/oauth2/authorization/" + socialType;
                    })
                }
            </script>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>