<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <script th:src="@{/js/jquery-2.1.3.min.js}"></script>-->
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/playlist.css}">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
</head>
<script th:inline="javascript">

    /* <![CDATA[ */
    var data = /*[[${songs}]]*/
    /* ]]> */

    var errorCnt = 0;
    var id_lst = [];
    var arr = []
    var num = 0;
    var video_state;
    var video_player;

    var genreDict = {};
    var ordered = [];
    var ballardCnt = 0;
    var danceCnt = 0;
    var RBcnt = 0;
    var rockCnt = 0;
    var hiphopCnt = 0;
    var elecCnt = 0;
    var indeCnt = 0;
    var bluesCnt = 0;
    var trotCnt = 0;

    for (var i in data) {
        id_lst.push(data[i].videoId);
    }

    for (var i=0; i<id_lst.length; i++){
        arr[i] = i;
    }


    var totalCnt = id_lst.length;

    for (var i in data){
        if (data[i].genre.includes('발라드')){
            ballardCnt += 1;
        }
        else if (data[i].genre.includes('댄스')){
            danceCnt += 1;
        }
        else if (data[i].genre.includes('R&B')){
            ballardCnt += 1;
        }
        else if (data[i].genre.includes('락')){
            rockCnt += 1;
        }
        else if (data[i].genre.includes('힙합')){
            hiphopCnt += 1;
        }
        else if (data[i].genre.includes('일렉')){
            elecCnt += 1;
        }
        else if (data[i].genre.includes('인디')){
            indeCnt += 1;
        }
        else if (data[i].genre.includes('블루스')){
            ballardCnt += 1;
        }
        else if (data[i].genre.includes('트롯')){
            trotCnt += 1;
        }
    }

    genreDict['발라드'] = ballardCnt / totalCnt * 100;
    genreDict['댄스'] = danceCnt / totalCnt * 100;

    genreDict['락'] = rockCnt / totalCnt * 100;
    genreDict['힙합'] = hiphopCnt / totalCnt * 100;
    genreDict['일렉트로니카'] = elecCnt / totalCnt * 100;
    genreDict['인디'] = indeCnt / totalCnt * 100;

    genreDict['트로트'] = trotCnt / totalCnt * 100;

    for (var key in genreDict){
        if (genreDict[key] == 0){
            delete genreDict[key];
        }
    }

    for (var genre in genreDict){
        ordered.push([genre, genreDict[genre]]);
    }


    ordered.sort(function(a,b) {
        return b[1] - a[1];
    });

    window.onload = function() {
        if (id_lst.length == 0) {
            document.getElementsByClassName("progress-bar").style.display = none;
            document.getElementsByClassName("genre_per").style.display = none;
            document.getElementsByClassName("genre_name").style.display = none;
        }
        else {
            var g_index = 0;
            var genre_color = ["#FFA98F", "#CD853F", "#FF5675", "#6495ED", "#4AB34A", "#00A5FF", "#008C8C"];
            for (var key in ordered){
                var genre_div = document.getElementsByClassName("progress-bar")[g_index];
                var genre_span = document.getElementsByClassName("genre_per")[g_index];
                var genre_name = document.getElementsByClassName("genre_name")[g_index];

                genre_div.style.width = Math.round(ordered[key][1]) + '%';
                genre_div.style.backgroundColor = genre_color[g_index];
                genre_div.innerHTML = Math.round(ordered[key][1]) + '%';
                var genre_type = ordered[key][0];
                if (genre_type == "발라드") {
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '발라드', name = name)}}'")
                }
                else if (genre_type == "댄스"){
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '댄스', name = name)}}'")
                }
                else if (genre_type == "락"){
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '락', name = name)}}'")
                }
                else if (genre_type == "힙합"){
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '힙합', name = name)}}'")
                }
                else if (genre_type == "일렉트로니카"){
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '일렉트로니카', name = name)}}'")
                }
                else if (genre_type == "인디"){
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '인디', name = name)}}'")
                }
                else if (genre_type == "트로트"){
                    genre_div.setAttribute("onclick","location.href='{{url_for('playlist_genre', genre = '트로트', name = name)}}'")
                }

                genre_span.style.backgroundColor = genre_color[g_index];
                genre_name.innerHTML = ordered[key][0];
                g_index += 1;
            }
        }
    }

    flag = 0;
    repeat_flag = 0;
    cnt = 0;

    function shuffle(){
        var j,x,i;
        for (var i = arr.length; i; i -= 1){
            j = Math.floor(Math.random() * i);
            x = arr[i -1];
            arr[i - 1] = arr[j];
            arr[j] = x;
        }
    }


    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


    var player,
        time_update_interval = 0;


    function onYouTubeIframeAPIReady () {
        player = new YT.Player('playSongIframe', {
                height: '0',
                width: '0',
                loadPlaylist:{
                    listType:'playlist',
                    list: id_lst,
                    index: parseInt(0),
                    suggestedQuality: 'small'
                },
                playerVars: {
                    rel: 0
                },
                events: {
                    'onReady': initialize,
                    'onStateChange': onStateChange,
                    'onError': onPlayerError
                }
        });
        var youTubePlayerVolumeItemId = 'YouTube-player-volume';
    }


    function onPlayerError(event) {
        errorCnt = errorCnt + 1;
        var errorCheck = Number(event.data);

        if (errorCheck == 150 || errorCheck == 100) {
            if (errorCnt == 1) {
                var err_idx = player.getPlaylistIndex();
                id_lst.splice(err_idx,1);
                id_lst.splice(err_idx, 0, data[err_idx].videoId2);
                player.loadPlaylist(id_lst, err_idx, 0, 'large');
            }
            else if (errorCnt == 2){
                var err_idx = player.getPlaylistIndex();
                id_lst.splice(err_idx,1);
                id_lst.splice(err_idx, 0, data[err_idx].videoId3);
                player.loadPlaylist(id_lst, err_idx, 0, 'large');
            }
        }
    }

    function initialize (event) {
        document.getElementById("count").innerHTML = "전체: " + id_lst.length + "곡";
        document.getElementById("link").src = data[0].img;
        document.getElementById("title").innerHTML = data[0].title;
        document.getElementById("artist").innerHTML = data[0].artist;

        var p = event.target;
        p.cuePlaylist(id_lst);
        updateTimerDisplay();
        updateProgressBar();
        clearInterval(time_update_interval);

        time_update_interval = setInterval(function () {
                updateTimerDisplay();
                updateProgressBar();
        }, 1000);


    }

    function getRandomId() {
        return arr.shift();
    }


    function onStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING){
            errorCnt = 0;
        }

        trigger(event.data, event.target);
        play_stop(event.data, event.target);
        video_state = event.data;
        video_player = event.target;
        r_video_state = event.data;
        r_video_player = event.target;

        if (flag == 0) {
            if (repeat_flag == 1) {
                if (event.data == YT.PlayerState.PLAYING) {
                    currentIndex = event.target.getPlaylistIndex();
                }

                if (event.data == YT.PlayerState.ENDED) {
                    if (currentIndex == (id_lst.length -1)) {
                        player.loadPlaylist({
                            'playlist': id_lst,
                            'listType': 'playlist',
                            'index': 0,
                            'startSeconds': 0,
                            'suggestedQuality': 'small'
                        });
                    }
                }
            }
            else if (repeat_flag == 2){
                if (event.data == YT.PlayerState.ENDED){
                    player.previousVideo();
                }
            }
        }
        else {

            if (repeat_flag == 2){
                if (event.data == YT.PlayerState.ENDED){
                    player.previousVideo();
                }
            }
            else {
                if (event.data == YT.PlayerState.ENDED) {
                    num = getRandomId();
                    player.playVideoAt(num);
                    autoshuffle();
                }
            }
        }

        var volume = Math.round(event.target.getVolume());
        var volumeItem = document.getElementById(youTubePlayerVolumeItemId);

        if (volumeItem && (Math.round(volumeItem.value) != volume)) {
            volumeItem.value = volume;
        }
    }

    function autoshuffle() {
        if (!arr.length){
            for (var i=0; i<id_lst.length; i++){
                arr[i] = i;
            }
            shuffle();
        }
    }

    function trigger(state, pl) {
        if (state == YT.PlayerState.PLAYING) {
            index = pl.getPlaylistIndex();
            img_src = data[index].img
            document.getElementById("link").src = img_src;
            document.getElementById("title").innerHTML = data[index].title;
            document.getElementById("artist").innerHTML = data[index].artist;
            document.getElementById(index).innerHTML = "campaign";
            document.getElementsByClassName(index)[0].style.color = "#00CDFF";
            document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "#00CDFF";
            document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "#00CDFF";
            document.getElementById(index).scrollIntoView();
        }
        else if (state == YT.PlayerState.ENDED) {
            document.getElementById(index).innerHTML = "";
            document.getElementsByClassName(index)[0].style.color = "black";
        }
    }

    function play_stop(state, pl){
        $(document).ready(function(){
            $('#play').on('click', function() {
                    var play_toggle = $(this);

                    if (state == YT.PlayerState.PLAYING){
                        pl.pauseVideo();
                        play_toggle.text('play_circle_outline');
                    }
                    else {
                        pl.playVideo();
                        play_toggle.text('pause_circle_outline');
                    }
            });
        });
    }

    function youTubePlayerActive() {
        return player && player.hasOwnProperty('getPlayerState');
    }

    function updateTimerDisplay(){
        $('#current-time').text(formatTime( player.getCurrentTime() ));
        $('#duration').text(formatTime(player.getDuration()));
    }

    function initProgressBar(){
        $('#progress-bar').val(0);
    }

    function updateProgressBar(){
        $('#progress-bar').val((player.getCurrentTime() / player.getDuration()) * 100);
    }


    function youTubePlayerVolumeChange(volume) {
        if (youTubePlayerActive()) {
            player.setVolume(volume);
        }
    }


    $(document).ready(function(){
        $('#progress-bar').on('mouseup touchend', function (e) {
            var newTime = player.getDuration() * (e.target.value / 100);
            player.seekTo(newTime);
        });


        $('#mute-toggle').on('click',function() {
            var mute_toggle = $(this);

            if(player.isMuted()){
                player.unMute();
                mute_toggle.text('volume_up');
            }

            else {
                player.mute();
                mute_toggle.text('volume_off');
            }

        });

        $('#next').on('click', function() {
            if (flag == 1){
                if (arr.length){
                    idx = getRandomId();
                    document.getElementById(index).innerHTML = "";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
                    player.playVideoAt(idx);
                }
                else if (!arr.length){
                    for (var i=0; i<id_lst.length; i++){
                        arr[i] = i;
                    }
                    shuffle();
                    idx = getRandomId();
                    document.getElementById(index).innerHTML = "";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
                    player.playVideoAt(idx);
                }

            }
            else {
                idx = player.getPlaylistIndex();
                if (idx == id_lst.length -1){
                    idx = -1
                }
                document.getElementById(index).innerHTML = "";
                document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
                document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
                player.playVideoAt(idx + 1);
            }

        });

        $('#replay').on('click', function() {
                player.seekTo(0);
        });



        $('#shuffle').on('click', function(e) {
            var shuffle_toggle = $(this);

            if (e.originalEvent){
                if (flag == 0){
                    shuffle();
                    flag = 1;
                    shuffle_toggle.css('color', "black");
                }
                else {
                    flag = 0;
                    shuffle_toggle.css('color', "#a0a0a0");
                }
            }

        });

        $('#repeat').on('click', function(e) {
                var repeat_toggle = $(this);

                if(e.originalEvent) {
                    if (repeat_flag == 0) {
                        repeat_flag = 1;
                        repeat_toggle.text('repeat').css('color', "black");
                    }
                    else if (repeat_flag == 1) {
                        repeat_flag = 2;
                        repeat_toggle.text('repeat_one').css('color', "black");
                    }
                    else if (repeat_flag ==2) {
                        repeat_flag = 0;
                        repeat_toggle.text('repeat').css('color', "#a0a0a0");
                    }
                }

        });

        $('tr').hover(function(){
                $(this).css('background-color',"#D7F1FA");
                $(this).find('button.playbutton').css('background-color',"#D7F1FA");
        }, function(){
                $(this).css('background-color',"white");
                $(this).find('button.playbutton').css('background-color',"white");
        });


        $('#search').keyup(function(){
                var k = $('#search').val()
                $('tr').hide();
                var res = $("tr > td:contains('" + k + "')");
                if (!$(res).text()) {
                    document.getElementById('msg').innerHTML = "검색결과가 없습니다";
                    document.getElementById('word').innerHTML = "'"+ k + "'" ;
                }
                else {
                    $(res).parent().show();
                    document.getElementById('msg').innerHTML = ""
                    document.getElementById('word').innerHTML = ""
                }

        });
    });

    function playYoutube () {
        player.playVideo();
    }


    function pauseYoutube () {
        player.pauseVideo();
    }


    function stopYoutube () {
        player.seekTo(0, true);
        player.stopVideo();
    }

    var played = false;
    function collectPlayCount (data) {
    if (data == YT.PlayerState.PLAYING && played == false) {
        played = true;
        }
    }


    function buttonplay(element) {
        var str = element.value;
        var strarr = str.split(';');

        var title = strarr[0];
        var artist = strarr[1];

        for (var i in data){
            if (data[i].title == title && data[i].artist == artist){
                c_index = i;
            }
        }

        if (arr.indexOf(Number(c_index)) != -1){
            arr.splice(arr.indexOf(Number(c_index)),1);
        }
        player.playVideoAt(c_index);

        document.getElementById('play').innerHTML = 'pause_circle_outline';
        document.getElementById(index).innerHTML = "";
        document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
        document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
    }

    function formatTime(time){
        time = Math.round(time);

        var minutes = Math.floor(time / 60),
            seconds = time - minutes * 60;

        seconds = seconds < 10 ? '0' + seconds : seconds;
        return minutes + ":" + seconds;
    }


    document.onkeydown = function(e) {
        if (e.which == 37) {
            player.seekTo(0);
        }
        else if (e.which == 39) {
            if (flag == 1){
                if (arr.length){
                    idx = getRandomId();
                    document.getElementById(index).innerHTML = "";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
                    player.playVideoAt(idx);
                }
                else if (!arr.length){
                    for (var i=0; i<id_lst.length; i++){
                        arr[i] = i;
                    }
                    shuffle();
                    idx = getRandomId();
                    document.getElementById(index).innerHTML = "";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
                    document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
                    player.playVideoAt(idx);
                }

            }
            else {
                idx = player.getPlaylistIndex();
                if (idx == id_lst.length -1){
                    idx = -1
                }
                document.getElementById(index).innerHTML = "";
                document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[0].style.color = "black";
                document.getElementsByClassName(index)[0].getElementsByClassName("shorting")[1].style.color = "black";
                player.playVideoAt(idx + 1);
            }
        }
        else if (e.which == 32){
            $(document).ready(function(){
                var play_toggle = $('#play');

                if (video_state == YT.PlayerState.PLAYING){
                    video_player.pauseVideo();
                    play_toggle.text('play_circle_outline');
                }
                else{
                    video_player.playVideo();
                    play_toggle.text('pause_circle_outline');
                }
            });
        }
    }


    var start_pos = 0
    var copy = data.slice();
    var tmp = data.slice();
    var reorder_lst = []

    $(function() {
        $("#sortable").sortable({
            start: function(event, ui){
                start_pos = ui.item.index();
            },
            stop: function(event, ui){
                var update_pos = ui.item.index();

                copy.splice(start_pos, 1);
                copy.splice(update_pos, 0, tmp[start_pos]);

                $(document).ready(function(){
                        $('#reorder').fadeIn('slow');
                });

                var relocatedData = JSON.stringify(copy);
                document.getElementById('relocation').value = relocatedData;
                tmp = copy.slice();
            }
        });
    });


    function hide() {
        $(document).ready(function(){
                $('#reorder').fadeOut('slow');
                window.location.reload();
        });
    }
</script>
<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var updateMessage = /*[[${updateMsg}]]*/
    /* ]]> */

    if (updateMessage != null) {
        swal("Delete", updateMessage, "info");
    }
</script>
<div class="action">
    <div id="playSongIframe"></div><br>
    <p>Logo</p>
    <div style="text-align:center; padding-top:50px;">
        <p id="title" style="font-size:20px; font-weight:bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>
        <p id="artist" style="font-size:14px;"></p><br>
        <img id="link" src="../images/white.png" style="width:60%;height:30%;" alt="sorry, can't loading album photo">
    </div>
    <br><br><br>
    <input type="range" id="progress-bar" value="0">
    &nbsp;&nbsp;&nbsp;&nbsp;<span id="current-time">0:00</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="duration">0:00</span><br>
    <div id="controls">
        <i id="repeat" class="material-icons" style="color:#a0a0a0;" title="반복on/off">repeat</i>&nbsp;&nbsp;&nbsp;
        <i id="replay" class="material-icons">replay</i>&nbsp;&nbsp;&nbsp;
        <i id="play" class="material-icons" style="font-size:60px;">play_circle_outline</i>&nbsp;&nbsp;&nbsp;
        <i id="next" class="material-icons">skip_next</i>&nbsp;&nbsp;&nbsp;
        <i id="shuffle" class="material-icons" style="color:#a0a0a0;" title="셔플on/off">shuffle</i><br>
        <i id="mute-toggle" class="material-icons">volume_up</i>
        <input id="YouTube-player-volume" type="range" value="50" min="0" max="100" onchange="youTubePlayerVolumeChange(this.value);"><br>
    </div>
    <div id="reorder" style="display:none">
        <span style="float:left; color:black; font-size:13px;">배치완료</span>
        <span style="float:right; color:black; font-size:12px;">이전으로</span><br>
        <form action="/playlist/relocation" method="post">
            <input type="submit" name="relocation" id="relocation" value=""/>
        </form>
        <input type="button" id="cancel" onclick="hide();"/>
    </div>
</div>
<div class="playlist">
    <div id="dv">
        <h5 style="color: #3A56B7" th:text="|${name}님의 플레이리스트|"></h5><br>
        <p id="count"></p>
    </div>
    <div class="container">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="cursor:pointer;"></div>
        </div>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
        <span class="genre_per"></span>&nbsp;<span class="genre_name"></span>
    </div><br>
    <div id="search_box">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input id="search" type="text" name="keyword" value="" placeholder="Search..."/>
    </div><br><br><br>
    <table>
        <tbody id="sortable">
            <tr th:each="song : ${songs}">
                <td>
                    <div th:class="${songStat.index}">
                        <i th:id="${songStat.index}" class="material-icons" style="font-size:20px"></i>
                        <button class="playbutton" onclick="buttonplay(this)" th:value="${song.title} + ';' + ${song.artist}">
                            <span class="shorting">[[${song.title}]]</span><br>
                            <span class="shorting">[[${song.artist}]]</span>
                        </button>
                    </div>
                </td>
                <td style="text-align:right; font-size:12px;" th:text="${song.duration}"></td>
                <td style="text-align:right;">
                    <form th:action="@{/playlist/{id}/delete (id=${song.id})}" method="post">
                        <input type="submit" class="img-button" name="delete" id="data" value="${song.id}">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="notice">
        <p id="msg"></p>
        <p id="word"></p>
    </div>
</div>
</body>
</html>