<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/chart.css}">

    <script th:inline="javascript">
        /* <![CDATA[ */
        var videoIds = /*[[${videoIds}]]*/
        var songs = /*[[${songs}]]*/
        var index = /*[[${index}]]*/
        /* ]]> */

        var errorCnt = 0;
        let today = new Date();

        let year = today.getFullYear();
        let month = today.getMonth() + 1;
        month = String(month);
        if (month.length == 1){
            month = '0' + month;
        }
        let day = today.getDate();
        day = String(day);
        if (day.length == 1){
            day = '0' + day;
        }
        let hours = today.getHours();
        hours = String(hours);
        if (hours.length == 1){
            hours = '0' + hours;
        }

        window.onload = function() {
            document.getElementById("date").innerHTML = year + '.' + month + '.' + day + " " + hours + ':00'
        }

        $(document).ready(function(){
            $('#allClick').click(function () {
                    if ($("input:checkbox[id='allClick']").prop("checked")){
                        $("input[type=checkbox]").prop("checked", true);
                    } else {
                        $("input[type=checkbox]").prop("checked", false);
                    }
            });

            $('#allClick2').click(function () {
                    if ($("input:checkbox[id='allClick2']").prop("checked")){
                        $("input[type=checkbox]").prop("checked", true);
                    } else {
                        $("input[type=checkbox]").prop("checked", false);
                    }
            });

            $('#progress-bar').on('mouseup touched', function (e) {
                            var newTime = player.getDuration() * (e.target.value / 100);
                            player.seekTo(newTime);
            });

        });

        if (videoIds != null) {
            videoid = videoIds[0]
            videoid2 = videoIds[1]
            videoid3 = videoIds[2]
        } else {
            videoid = null
            videoid2 = null
            videoid3 = null
        }

        if (index != null) {
            index = Number(index);
        } else {
            index = null;
        }

        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player,
            time_update_interval = 0;

        function onYouTubeIframeAPIReady () {
            player = new YT.Player('playerIframe', {
                height: '0',
                width: '0',
                videoId: '',
                playerVars: {
                    rel: 0
                },
                events: {
                    'onReady': initialize,
                    'onStateChange': onStateChange,
                    'onError': onPlayerError
                }
            });
            var youTubePlayerVolumeItemId = 'YouTube-player-volume';
        }


        function initialize (event) {
            var p = event.target;
            player.loadVideoById(videoid, 0, "large");
            document.getElementById("playing_info").innerHTML = songs[index].title + " <i>by</i>&nbsp;&nbsp;" + songs[index].artist;
            document.getElementById("thumb").src = songs[index].img


            updateTimerDisplay();
            updateProgressBar();

            clearInterval(time_update_interval);

            time_update_interval = setInterval(function () {
                    updateTimerDisplay();
                    updateProgressBar();
            }, 1000);

        }

        function onStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                errorCnt = 0;
            }

            play_stop(event.data, event.target);

            var volume = Math.round(event.target.getVolume());
            var volumeItem = document.getElementById(youTubePlayerVolumeItemId);

            if (volumeItem && (Math.round(volumeItem.value) != volume)) {
                volumeItem.value = volume;
            }
        }


        function play_stop(state,pl){
            $(document).ready(function(){
                $('#play_toggle').on('click',function() {
                    var play_toggle = $(this);

                    if(state == YT.PlayerState.PLAYING){
                        pl.pauseVideo();
                        play_toggle.text('play_circle_filled');
                    }
                    else{
                        pl.playVideo();
                        play_toggle.text('pause_circle_filled')
                    }
                });
            });
        }


        function onPlayerError(event){
            errorCnt = errorCnt + 1;
            var errorCheck = Number(event.data);

            if (errorCheck == 150 || errorCheck == 100){
                if (errorCnt == 1){
                    player.loadVideoById(videoid2, 0, "large");
                }
                else if (errorCnt == 2){
                    player.loadVideoById(videoid3, 0, "large");
                }
            }
        }


        function updateTimerDisplay() {
            $('#current-time').text(formatTime(player.getCurrentTime()));
            $('#duration').text(formatTime(player.getDuration()));
        }


        function updateProgressBar() {
            $('#progress-bar').val((player.getCurrentTime() / player.getDuration()) * 100);
        }


        function youTubePlayerVolumeChange(volume) {
            if (youTubePlayerActive()) {
                player.setVolume(volume);
            }
        }

        function formatTime(time) {
            time = Math.round(time);

            var minutes = Math.floor(time / 60),
                seconds = time - minutes * 60;

            seconds = seconds < 10 ? '0' + seconds : seconds;
            return minutes + ":" + seconds;
        }
    </script>
</head>
<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        swal("Error", errorMessage, "error");
    } else if (successMessage != null) {
        swal("Success", successMessage, "success");
    }
</script>
<div th:replace="fragments/top::header"></div><br><br>
<div class="wrapper">
    <form action="/search" method="get">
        <input type="text" name="keyword" value="" placeholder="Search...">
        <button id="btn_search" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div><br><br><br><br>
<div id="contents">
    <h2 style="text-align:center;">실시간 Top 200 차트</h2><br>
    <p id="date" style="text-align:right; margin-right:30px; color:gray;"></p><br><br>
    <table>
        <tr class="util">
            <td class="util"><input type="checkbox" id="allClick"></td>
            <td class="util">
                <form action="/playlist" method="post" id="form1">
                    <button type="submit" id="add_btn" style="cursor:pointer;"><i class="fas fa-folder-plus" style="font-size:30px;"></i> 담기</button>
                </form>
            </td>
        </tr>
    </table>
    <table id="table">
        <tr id="tr" th:each="song : ${songs}">
            <td class="td chkbox"><input type="checkbox" style="padding:0px 0px 0px 5px;" name="add" th:value="${song.title} + ';' + ${song.artist}" form="form1"></td>
            <td class="td rank" th:text="${songStat.count}"></td>
            <td class="td image">
                <img th:src="@{${song.img}}" alt="error" style="width:50px;height:50px;">
            </td>
            <td class="td info">
                <span class="shorting" th:text="|TITLE: ${song.title}|"></span><br>
                <span class="shorting" th:text="|ARTIST: ${song.artist}|"></span>
            </td>
            <td class="icony">
                <form th:action="@{/chart/top200/{pg} (pg=${pgNum})} " method="post">
                    <input type="submit" class="play_btn" name="play" th:value="${song.title} + ';' + ${song.artist} + ';' + ${songStat.index}">
                </form>
            </td>
            <td class="icony">
                <form action="/playlist" method="post">
                    <input type="submit" class="plus_btn" name="add" th:value="${song.title} + ';' + ${song.artist}">
                </form>
            </td>
            <td class="icony">
                <form action="/detail/songinfo" method="get">
                    <input type="submit" class="desc_btn" name="song_id" th:value="${song.song_id}">
                </form>
            </td>
        </tr>
    </table>
</div><br><br><br>
<div id="btn_div">
    <div id="btn_group">
        <a href="/chart/top200/1" id="btn1">1 ~ 50위</a>
        <a href="/chart/top200/2" id="btn2">51 ~ 100위</a>
        <a href="/chart/top200/3" id="btn3">101 ~ 150위</a>
        <a href="/chart/top200/4" id="btn4">151 ~ 200위</a>
    </div>
</div><br><br><br><br><br><br><br><br><br><br>
<div th:replace="fragments/footer::footer"></div>
<br><br><br><br><br><br><br>
<div id="fixed">
    <div id="playerIframe"></div>
    <div class="track_info">
        <span><img src="/images/white.png" id="thumb"></span>
    </div>
    <div class="controller">
        <span><p id="playing_info" style="text-align:center; font-size:13px; font-weight:bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">재생중인 노래가 없습니다</p></span>
        <span id="current-time">0:00</span>&nbsp;/&nbsp;<span id="duration">0:00</span><br>
        <input type="range" id="progress-bar" value="0" style="width:100%;"/>
        <div class="icon">
            <i id="replay" class="material-icons" style="font-size:45px; float:left;">replay</i>
            <i id="play_toggle" class="material-icons" style="font-size:45px; ">pause_circle_filled</i>
        </div>
    </div>
</div>
</body>
</html>