<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <script th:src="@{/js/jquery-2.1.3.min.js}"></script>-->
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/detailsong.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        swal("Error", errorMessage, "error");
    } else if (successMessage != null) {
        swal("Success", successMessage, "success");
    }
</script>
<div th:replace="fragments/top::header"></div><br><br>
<div class="wrapper">
    <div id="contents">
        <h1>노래정보</h1><br><hr><br><br>
        <h3 th:text="${info.artist}"></h3><br><br>
        <div class="left">
            <img th:src="@{${info.img}}" style="width:400px; height:350px;">
        </div>
        <div class="right">
            <h3 th:text="${info.title}"></h3><br>
            <p class="line">
                <span class="category">Artist</span>
                <span class="info" th:text="${info.artist}"></span>
            </p>
            <p class="line">
                <span class="category">AlbumName</span>
                <span class="info" th:text="${info.album}"></span>
            </p>
            <p class="line">
                <span class="category">Genre</span>
                <span class="info" th:text="${info.genre}"></span>
            </p>
            <p class="line">
                <span class="category">Duration</span>
                <span class="info" th:text="${info.duration}"></span>
            </p>
            <th:block th:if="${info.songwriter != ''}">
                <p class="line">
                    <span class="category">Songwriter</span>
                    <span class="info" th:text="${info.songwriter}"></span>
                </p>
            </th:block>
            <th:block th:if="${info.composer != ''}">
                <p class="line">
                    <span class="category">Composer</span>
                    <span class="info" th:text="${info.composer}"></span>
                </p>
            </th:block><br><br>
            <form action="/playlist" method="post">
                <input type="submit" class="add_btn" name="add" th:value="${info.title} + ';' + ${info.artist}">
            </form>
        </div>
    </div><hr><br><br>
    <h3>가사</h3><br>
    <h4 th:text="|${info.title} - ${info.duration}|"></h4><br><br>
    <pre>
        <p th:text="${info.lyrics}"></p>
    </pre><br><br><br><hr><br>
    <h2 style="display:inline-block">댓글</h2>
    <span>(총 </span><span th:text="${allCount}" style="color:red"></span><span>개)</span>
    <br><br>
    <div class="comment_div_box">
        <form action="/post" method="post">
            <textarea class="comment_box" name="comment" placeholder="댓글을 입력해주세요."></textarea>
            <input type="hidden" name="traceId" th:value="${song_id}">
            <input type="hidden" name="title" th:value="${info.title}">
            <input type="hidden" name="artist" th:value="${info.artist}">
            <input type="hidden" name="img" th:value="${info.img}">
            <input class="comment_btn" type="submit" value="댓글등록">
        </form><br><br>
    </div><br>
    <table id="downside">
        <tr th:each="board : ${boardList}">
            <th:block th:if="${song_id} == ${board.traceId}">
                <td class="image">
                    <img src="https://image.genie.co.kr/imageg/web/common/blank.gif/dims/resize/Q_80,0" alt="error" style="width:50px;height:50px;">
                </td>
                <td class="scomment">
                    <span class="writer" th:text="${board.writer}"></span>&nbsp;
                    <span class="createDate" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>&nbsp;&nbsp;&nbsp;
                        <th:block th:if="${board.writer} == ${username}">
                            <form th:action="@{/post/{id}/delete (id=${board.id})}" method="post" style="display:inline-block">
                                <input class="delete_btn" type="submit" name="delete" value="삭제">
                            </form>
                        </th:block>
                    <br>
                    <span class="lining" th:text="${board.comment}"></span>
                </td>
            </th:block>
        </tr>
    </table><br><br>
    <div id="btn_div">
        <div id="btn_group">
            <span th:each="pageNum : ${pageList}">
                <a th:class="onbtn" th:classappend="${pageNum} == ${curPage} ? offbtn" th:href="@{'/detail/albuminfo?album_id=' +${album_id} + '&page=' + ${pageNum}}" th:text="${pageNum}"></a>
            </span>
        </div>
    </div>
</div><br><br><br><br><br><br><br><br>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>